@use "./variables" as *;

html {
    background-color: $primary;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
    max-width: 1080px;
}


// Introduce all Headings etc under this so i don't have to do in individual partials?