@use "./variables" as *;

main {
    background-color: $quinary;
}


// Bio Section Start

.bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;

    h2 {
        font-family: $h2Text;
        font-size: $h2FontSize;
        text-transform: uppercase;
    }

    p {
        text-align: center;
        font-family: $bodyText;
        font-size: $bodyFontSize;
        font-weight: 400;
    }

    a {
        font-family: $buttonText;
        font-size: $buttonFontSize;
        color: $quaternary;
        background-color: $secondary;
        text-transform: uppercase;
        text-decoration: none;
        padding: 1% 2.5%;
        font-weight: bold;
    }
}

// Bio Section End


// Favorite things section Start

.favThingsContainer {
    display: flex;
    position: relative;
    margin-top: 10%;

    .backgroundColor {
        background-color: $tertiary;
        position: absolute;
        left: -15%;
        top: 0;
        bottom: 0;
        width: 65%;
    }

    .imgContainer {
        width: 50%;

        img {
            position: relative;
            width: 95%;
            height: 98%;
            bottom: 5%;
        }
    }

    .contentContainer {
        width: 40%;
        display: flex;
        flex-direction: column;
        margin-left: 10%;

        h3 {
            font-size: $h3FontSize;
        }

        a {
            font-family: $buttonText;
            font-size: $buttonFontSize;
            color: $quaternary;
            background-color: $secondary;
            text-transform: uppercase;
            text-decoration: none;
            padding: 1% 2.5%;
            font-weight: bold;
            width: fit-content;
        }
    }
}

// Favorite things section end


// Bucket list section start

.bucketList {
    display: flex;
    position: relative;
    margin-top: 10%;

    .contentContainer {
        width: 40%;
        display: flex;
        flex-direction: column;
        margin-right: 10%;
        align-items: flex-end;

        h3 {
            font-size: $h3FontSize;
        }

        p {
            text-align: right;
        }

        a {
            font-family: $buttonText;
            font-size: $buttonFontSize;
            color: $quaternary;
            background-color: $secondary;
            text-transform: uppercase;
            text-decoration: none;
            padding: 1% 2.5%;
            font-weight: bold;
            width: fit-content;
        }
    }

    .imgContainer {
        width: 50%;

        img {
            position: relative;
            width: 105%;
            height: 98%;
            bottom: 5%;
            right: 5%;
        }
    }

    .backgroundColor {
        background-color: $primary;
        position: absolute;
        right: -15%;
        top: 0;
        bottom: 0;
        width: 65%;
    }
}

// Bucket list section end


// Journey Section start

.journeyContainer {
    display: flex;
    margin-top: 10%;
    background-color: $quinary;

    .imgContainer {
        width: 25%;

        img {
            width: 100%;
        }
    }

    .contentContainer {
        width: 65%;
        display: flex;
        flex-direction: column;
        margin-left: 10%;

        h3 {
            font-size: $h3FontSize;
        }

        a {
            font-family: $buttonText;
            font-size: $buttonFontSize;
            color: $quaternary;
            background-color: $secondary;
            text-transform: uppercase;
            text-decoration: none;
            padding: 1% 2.5%;
            font-weight: bold;
            width: fit-content;
        }
    }
}

// Journey Section end 


// Background Image Section start

.backgroundImgSection {
    margin-top: 5%;

    img {
        width: 100%;
    }
}

// Background Image section end


// Gallery Section Start

.gallery {
    margin-top: 10%;

    ul {
        display: flex;
        padding: 0;

        li {
            list-style: none;
            width: 100%;
            padding: 1%;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

// Gallery Section end


// Information section start

.informationSection {
    margin-top: 10%;
    padding-bottom: 5%;

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        list-style: none;
        padding: 0;
        margin-bottom: 10%;

        li {
            width: 45%;
            display: flex;
            flex-direction: row;

            .listIcon {
                width: 50px;
                height: 50px;
                display: flex;
                justify-content: center;
                background-color: $secondary;
                border-radius: 50%;
            }

            a {
                width: 50%;
                text-decoration: none;
                display: flex;
                justify-content: center;
                align-items: center;

            }

            .listContent {
                width: 90%;

                h3 {
                    text-transform: uppercase;
                    padding: 2% 0 2% 0;
                    margin: 0 0 0 5%;
                }

                p {
                    margin: 0 0 0 5%;
                }
            }
        }
    }
}

// Information section end









// Contact Page Start

.contactMe {

    li {
        list-style: none;
    }

    header {
        height: 40vh;

        .contactHeader {

            .contactBackgroundImage {
                background-image: url(./assets/contact-image-1.jpg);
                position: absolute;

                left: 0;
                right: 0;
                top: 10%;
                bottom: 50%;
            }

            h1 {
                text-transform: uppercase;
                position: absolute;
                margin-bottom: 0%;
                line-height: 65%;
                bottom: 0%;
                left: 20%;
            }
        }
    }

    main {
        margin-top: 0%;
        padding: 5% 0;

        .contactContainer {
            display: flex;
            justify-content: space-between;

            .contactInfo {
                display: flex;
                flex-direction: column;
                width: 30%;


                .contactLogos {
                    display: flex;
                    flex-direction: row;
                    margin-bottom: 0;
                    padding-left: 0;

                    .svg {
                        fill: $primary;
                        height: 40px;
                        padding: 5%;
                        margin-right: 20px;
                    }
                }

                h4 {
                    margin: 5% 0 0 0%;
                }

                .addressList {
                    padding-left: 0%;
                }
            }

            .form {

                height: 50%;

                button {
                    font-family: $buttonText;
                    font-size: $buttonFontSize;
                    color: $quaternary;
                    background-color: $secondary;
                    text-transform: uppercase;
                    text-decoration: none;
                    padding: 1% 2.5%;
                    font-weight: bold;
                    width: fit-content;
                    border: none;

                    &:hover,
                    &:focus {
                        color: $fontSecondaryColor;
                    }
                }
            }
        }
    }

    footer {
        text-align: center;
        color: $fontSecondaryColor;
        background-color: $quaternary;
        margin-top: 2%;
    }
}

// Contact Page End


// Blog Page Start

.blog {

    header {
        height: 40vh;

        .blogHeader {

            .blogBackgroundImage {
                background-image: url(./assets/blog-image-1.jpg);
                position: absolute;

                left: 0;
                right: 0;
                top: 10%;
                bottom: 50%;
            }

            h1 {
                text-transform: uppercase;
                position: absolute;
                margin-bottom: 0%;
                line-height: 65%;
                bottom: 0%;
                left: 10%;
            }
        }
    }

    main {
        padding-top: 5%;

        .blogMain {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .leftSide {
                width: 35%;
                padding: 5%;

                h4 {
                    text-transform: uppercase;
                }

                img {
                    width: 100%;
                }

                a {
                    text-decoration: none;
                    color: $tertiary;
                }

                ul {
                    padding-left: 10%;
                }
            }

            .rightSide {
                width: 65%;
                padding: 0% 0% 0% 5%;

                h3 {
                    text-transform: uppercase;
                    margin-top: auto;
                }

                .blogP {
                    border-bottom: 5px solid $primary;
                }

                .blogGallery {
                    border-bottom: 5px solid $primary;
                }

                .blogGalleryItem1 {
                    margin: 5%;
                    display: flex;

                    img {
                        width: 100%;
                        height: 100%;
                    }

                    .blogItem1P {
                        display: flex;
                        flex-direction: column;
                        padding: 0 0 0 5%;
                    }
                }

                .blogGalleryItem2 {
                    margin: 5%;
                    display: flex;

                    img {
                        width: 100%;
                        height: 100%;
                    }

                    .blogItem2P {
                        display: flex;
                        flex-direction: column;
                        padding: 0 0 0 5%;
                    }
                }

                .form {
                    width: 100%;
                    height: 0%;
                    margin: 5% 0 15% 0;
                }
            }
        }
    }

    footer {
        text-align: center;
        color: $fontSecondaryColor;
        background-color: $quaternary;
        margin: 0;
    }
}

// Blog Page End