// Site Fonts

$h1Text: "AbrilFatface";
$h2Text: "AbrilFatface";
$h3Text: "AbrilFatface";
$h4Text: "AbrilFatface";
$menuText: "Montserrat";
$buttonText: "AbrilFatface";
$bodyText: "Montserrat";

$h1FontSize: 80px;
$h2FontSize: 42px;
$h3FontSize: 32px;
$h4FontSize: 24px;
$menuFontSize: 20px;
$buttonFontSize: 20px;
$bodyFontSize: 20px;

$fontPrimaryColor: #1f1f1f;
$fontSecondaryColor: #f6f6f6;


// Site Colors

$primary: #345231;
$secondary: #e4a436;
$tertiary: #709b6b;
$quaternary: #1f1f1f;
$quinary: #f6f6f6;