html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1 {
  font-family: "AbrilFatface";
  font-size: 80px;
  color: #f6f6f6;
  line-height: 92px;
  letter-spacing: 1px;
}

h2 {
  font-family: "AbrilFatface";
  font-size: 42px;
  color: #1f1f1f;
  letter-spacing: 1px;
}

h3 {
  font-family: "AbrilFatface";
  font-size: 32px;
  color: #1f1f1f;
  letter-spacing: 1px;
}

h4 {
  font-family: "AbrilFatface";
  font-size: 24px;
  color: #1f1f1f;
  letter-spacing: 1px;
}

menu {
  font-family: "Montserrat";
  font-size: 20px;
  color: #f6f6f6;
  line-height: 29px;
  letter-spacing: 1px;
}

button {
  font-family: "AbrilFatface";
  font-size: 20px;
  color: #1f1f1f;
  line-height: 32px;
  letter-spacing: 1px;
}

body {
  font-family: "Montserrat";
  font-size: 20px;
  color: #1f1f1f;
  line-height: 32px;
  letter-spacing: 0px;
}

html {
  background-color: #345231;
}

main {
  margin-bottom: -2%;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  max-width: 1080px;
}

.navBar {
  background-color: #345231;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5%;
  margin-top: -2.5%;
}
.navBar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}
.navBar li {
  list-style: none;
  padding: 0px 15px;
}
.navBar a {
  text-decoration: none;
  color: #f6f6f6;
}
.navBar a:hover, .navBar a:focus {
  color: #e4a436;
}
.navBar h2 {
  color: #f6f6f6;
  text-transform: uppercase;
}

header {
  background-color: #345231;
  height: 50vh;
}
header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .wrapper .willowH1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 65%;
      flex-basis: 65%;
}
header .wrapper .willowH1 img {
  position: relative;
  left: 0%;
  min-width: 35%;
}
header .wrapper .willowH1 h1 {
  position: relative;
  left: -15%;
  width: 100%;
  padding: 5%;
  text-transform: uppercase;
}
header .wrapper .homePhoto {
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
}
header .wrapper .homePhoto img {
  width: 100%;
}

main {
  background-color: #f6f6f6;
}

.bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5%;
}
.bio h2 {
  font-family: "AbrilFatface";
  font-size: 42px;
  text-transform: uppercase;
}
.bio p {
  text-align: center;
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 400;
}
.bio a {
  font-family: "AbrilFatface";
  font-size: 20px;
  color: #1f1f1f;
  background-color: #e4a436;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1% 2.5%;
  font-weight: bold;
}

.favThingsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-top: 10%;
}
.favThingsContainer .backgroundColor {
  background-color: #709b6b;
  position: absolute;
  left: -15%;
  top: 0;
  bottom: 0;
  width: 65%;
}
.favThingsContainer .imgContainer {
  width: 50%;
}
.favThingsContainer .imgContainer img {
  position: relative;
  width: 95%;
  height: 98%;
  bottom: 5%;
}
.favThingsContainer .contentContainer {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 10%;
}
.favThingsContainer .contentContainer h3 {
  font-size: 32px;
}
.favThingsContainer .contentContainer a {
  font-family: "AbrilFatface";
  font-size: 20px;
  color: #1f1f1f;
  background-color: #e4a436;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1% 2.5%;
  font-weight: bold;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.bucketList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-top: 10%;
}
.bucketList .contentContainer {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 10%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.bucketList .contentContainer h3 {
  font-size: 32px;
}
.bucketList .contentContainer p {
  text-align: right;
}
.bucketList .contentContainer a {
  font-family: "AbrilFatface";
  font-size: 20px;
  color: #1f1f1f;
  background-color: #e4a436;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1% 2.5%;
  font-weight: bold;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.bucketList .imgContainer {
  width: 50%;
}
.bucketList .imgContainer img {
  position: relative;
  width: 105%;
  height: 98%;
  bottom: 5%;
  right: 5%;
}
.bucketList .backgroundColor {
  background-color: #345231;
  position: absolute;
  right: -15%;
  top: 0;
  bottom: 0;
  width: 65%;
}

.journeyContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10%;
  background-color: #f6f6f6;
}
.journeyContainer .imgContainer {
  width: 25%;
}
.journeyContainer .imgContainer img {
  width: 100%;
}
.journeyContainer .contentContainer {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 10%;
}
.journeyContainer .contentContainer h3 {
  font-size: 32px;
}
.journeyContainer .contentContainer a {
  font-family: "AbrilFatface";
  font-size: 20px;
  color: #1f1f1f;
  background-color: #e4a436;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1% 2.5%;
  font-weight: bold;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.backgroundImgSection {
  margin-top: 10%;
}

.gallery {
  margin-top: 10%;
}
.gallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}
.gallery ul li {
  list-style: none;
  width: 100%;
  padding: 1%;
}
.gallery ul li img {
  width: 100%;
  height: 100%;
}

.informationSection {
  margin-top: 10%;
}
.informationSection ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}
.informationSection ul li {
  width: 45%;
}
.informationSection ul li a {
  text-decoration: none;
}
.informationSection ul h3 {
  text-transform: uppercase;
}

.contactMe li {
  list-style: none;
}
.contactMe header {
  margin-bottom: 0;
}
.contactMe header .contactHeader .contactBackgroundImage {
  background-image: url(./assets/contact-image-1.jpg);
  position: absolute;
  left: 0;
  right: 0;
  top: 10%;
  bottom: 32%;
}
.contactMe header .contactHeader h1 {
  text-transform: uppercase;
  position: absolute;
  bottom: -18.5%;
  left: 10%;
}
.contactMe main {
  margin-top: 1.5%;
}
.contactMe main .contactContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contactMe main .contactContainer .contactInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contactMe main .contactContainer .contactInfo nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.contactMe main .contactContainer .form {
  height: 50%;
}
.contactMe main .contactContainer .form button {
  font-family: "AbrilFatface";
  font-size: 20px;
  color: #1f1f1f;
  background-color: #e4a436;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1% 2.5%;
  font-weight: bold;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.contactMe main .contactContainer .form button:hover, .contactMe main .contactContainer .form button:focus {
  color: #f6f6f6;
}

footer {
  text-align: center;
  color: #f6f6f6;
  background-color: #1f1f1f;
}